createdAt: "2018-05-17T19:58:11.269Z"
updatedAt: "2018-05-17T20:03:14.315Z"
type: "MARKDOWN_NOTE"
folder: "0255a178144559fe13fd"
title: "Geant4 Material Database"
content: '''
  ## Geant4 Material Database
  
  - [Geant4 Material Database](http://geant4.cern.ch/UserDocumentation/UsersGuides/ForApplicationDeveloper/BackupVersions/V9.6/html/apas10.html)
'''
tags: []
isStarred: false
isTrashed: false
