createdAt: "2018-05-14T05:06:45.983Z"
updatedAt: "2018-05-14T05:06:45.983Z"
type: "SNIPPET_NOTE"
folder: "6ce0045569c31751585d"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: false
