createdAt: "2018-05-17T03:27:53.318Z"
updatedAt: "2018-05-17T03:29:24.116Z"
type: "MARKDOWN_NOTE"
folder: "2fe0380cc0d9e720a3de"
title: "Neutrino '18"
content: '''
  # Neutrino '18 
  Making blessing package of NNbar search for Neutrino '18
  
  ## May 17th, 2018
  - [ ] See Matthew's email again to see what to include.
  - [ ] Ask Junting for high quality files.
  - [ ] Making blessing package.
  
  
'''
tags: [
  "blessing"
  "neutrino18"
  "nnbar"
]
isStarred: false
isTrashed: false
