createdAt: "2018-05-14T05:37:40.110Z"
updatedAt: "2018-05-17T18:58:01.025Z"
type: "MARKDOWN_NOTE"
folder: "36e27b2c3cef90b87c5a"
title: "Work progress for NC/Sterile"
content: '''
  # Work progress for NC/Sterile
  
  The goal is to make the Feldman-Cousins corrections for FHC data (Run Period 1/2/3) in time for Neutrino 2018.
  
  ## May 10th, 2018
  - [x] Write code to run the FC correction at a single point on the 2D grid. Few cautions:
    - [x] Be careful in handling the systematics.
    - [x] Take random seeds to be runtime t-naught so making sure the random numbers are actually random numbers.
    - [x] Output results of dchi2 (from both fits) and the parameters obtained from the fits need to be save to a ROOT file for later diagnosis.  
  - [x] Testing the single-point code to see if you can retrive the dchi2 distribution.
    - [x] Commit the working version.
    - [x] Shit! The run time is too long (8 hours for 100 pseudo-experiments).
    - [x] All distributions looks normal.
  
  ## May 11th, 2018
  - [x] Report work to Jeremy/Gavin.
  - [x] Move on to write the code to receive the command-line arguments and run the single-point FC correction.
    - [x] Keep the code as general as possible. So you don't have to rewrite it later.
    - [x] Commit the working version. Need test though.
  
  ## May 14th, 2018
  - [x] Ask Jeremy to give you the surface TH2D files.
  - [x] Implement to snippet to read surface and return values of oscillation parameters to run jobs.
  - [x] Test the binning scheme.
  - [x] Double check with bin coverage (on top of the ssth24/ssth34-dmsq41 surfaces).
  - [x] Write and send test jobs on FermiGrid.
  
  ## May 15th, 2018
  - [x] Check test jobs.
  - [x] Resent jobs [5:47PM]
  
  ## May 16th, 2018
  
  > Use job id 7525896.0@jobsub01.fnal.gov to retrieve output
  
  
  - [x] Start studying the job division to lower the runtime for individual jobs.
  - [x] Send production jobs.
  
  ## May 17th, 2018
  Understood the bugs in job submission (wrong script name in `/pnfs/nova/scratch/`).
  
  - [x] Sent new jobs to check, need to wait for the maintenance to go away.
  
  > Use job id 7968095.0@jobsub02.fnal.gov to retrieve output
  
  - [ ] Next step is check with the data folders copied onto the grid.
'''
tags: [
  "nus18"
  "fc"
  "feldman-cousins"
  "nc"
  "sterile"
]
isStarred: false
isTrashed: false
