createdAt: "2018-05-14T22:00:14.315Z"
updatedAt: "2018-05-14T22:01:16.566Z"
type: "MARKDOWN_NOTE"
folder: "e82c60f64cdd7f513601"
title: "Driving license"
content: '''
  # Driving license
  
  - [ ] Finish driversed course.
  - [ ] Get certificate from the department of safety.
  
  
'''
tags: []
isStarred: true
isTrashed: false
