createdAt: "2018-05-14T22:00:14.315Z"
updatedAt: "2018-05-16T19:00:20.049Z"
type: "MARKDOWN_NOTE"
folder: "e82c60f64cdd7f513601"
title: "Very Urgent"
content: '''
  # Very Urgent
  List of urgent things that needs to be done today!
  
  ## May 15th, 2018
  - [x] Driving license
  - [x] Grading PHY 317K
  - [ ] NC/Sterile
  
  
  
  ## May 18th, 2018
  - [ ] Department of Safety to get the certificate
'''
tags: [
  "very-urgent"
]
isStarred: true
isTrashed: false
