createdAt: "2018-05-15T23:18:16.615Z"
updatedAt: "2018-05-17T03:20:24.532Z"
type: "MARKDOWN_NOTE"
folder: "2fe0380cc0d9e720a3de"
title: "Literature Review"
content: '''
  # Literature Review 
  
  List of reading/learning materials for thesis.
  
  ## Thesis
  - Jeremy's [thesis](http://lss.fnal.gov/archive/thesis/2000/fermilab-thesis-2017-27.pdf). Start from here
  - NNbar search in SNO thesis is [here](https://sno.phy.queensu.ca/papers/MarcBergevinPhD.pdf).
  
  ## Review
  - [Neutron-Antineutron Oscillations: Theoretical Status and Experimental Prospects](https://arxiv.org/pdf/1410.1100.pdf) 
  - [Neutron-Antineutron Oscillation: Theoryand Phenomenology](https://arxiv.org/pdf/0902.0834.pdf)
'''
tags: [
  "nnbar"
  "literature-review"
  "thesis"
]
isStarred: false
isTrashed: false
