createdAt: "2018-05-15T23:12:29.974Z"
updatedAt: "2018-05-15T23:21:56.624Z"
type: "MARKDOWN_NOTE"
folder: "e82c60f64cdd7f513601"
title: "Somewhat urgent"
content: '''
  # Somewhat urgent
  
  ## May 15th - May 18th, 2018
  - [ ] Write OscProb and teach Karol how to use.
  - [ ] Reading Jeremy's thesis.
'''
tags: [
  "somewhat-urgent"
]
isStarred: true
isTrashed: false
