createdAt: "2018-05-14T22:01:27.653Z"
updatedAt: "2018-05-15T23:15:26.801Z"
type: "MARKDOWN_NOTE"
folder: "e82c60f64cdd7f513601"
title: "Non-urgent"
content: '''
  # Non-urgent
  
  But **IMPORTANT** for your career!
  
  ## May 14th, 2018
  - [ ] Write python modules to simplify the root drawings.
  - [x] Learn to write python class.
  - [ ] Learn `G4Analysis`.
  - [x] Quantum machanics. Chapter 1 (S. Weinberg).
  
  ## May 15th, 2018
  - [ ] Study the bi-prob plot by NOvA/T2K. How to make? Meaning? Oscillation parameter dependence?
  
  
'''
tags: [
  "python"
  "root"
]
isStarred: false
isTrashed: false
